{% extends 'base.html' %}

{% block content %}
	<div class="col-md-4 offset-md-4 shadow-lg p-3 mb-5 bg-white rounded">
	<h1 class="text-center mb-5">Entrar</h1> 
	<form action="" method="POST" novalidate>
	  {{loginForm.hidden_tag()}}
	  <div class="form-group">
	    
	    {{ loginForm.username(class="form-control mb-3", id="exampleInputEmail1", placeholder="Usuário") }}
	    {% for error in loginForm.username.errors %}
	    	<div class="alert alert-danger" role="alert">{{error}}</div>
	    {% endfor %}
	  </div>
	  <div class="form-group">
	    {{ loginForm.password(class="form-control", id="exampleInputPassword1", placeholder="Senha") }}
	   	{% for error in loginForm.password.errors %}
	    	<div class="alert alert-danger" role="alert">{{error}}</div>
	    {% endfor %}
	  </div>
	  <div class="form-check ">
	    {{loginForm.remember_me(class="form-check-input", id="remember_me")}}
	    {{loginForm.remember_me.label(for="remember_me")}}
	  </div>

	  <div class="pt-5">
	  <p>
		Não possui conta?
		<a href="{{url_for('auth.register')}}" class="text-muted">Criar nova conta</a><br>
	  </p>
	  <p>
	  	Esqueceu a senha?
	  	<a href="{{url_for('auth.reset_password_request')}}" class="text-muted">Clique para recuperar</a>
	  </p>
	  </div>
	  {{loginForm.submit(class="btn btn-danger w-100")}}
	</form>
	</div>
{% endblock %}
