<html>
	<head>
		{% if title %}
		<title>{{title}} - My site</title>
		{% else %}
		<title>My site</title>
		{% endif %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
		<script src="{{ url_for('static', filename='js/fontawesome/all.js')}}" rel="stylesheet"></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-danger px-5 pt-0 pb-0">
		  <a class="navbar-brand text-white" href="{{url_for('core.index')}}">My site</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse d-flex" id="conteudoNavbarSuportado">
		    <ul class="navbar-nav mr-auto">
			  {% if title == 'Trending' %}
		      <li class="nav-item">
		        <a class="nav-link btn btn-danger text-white py-3 active" href="{{url_for('core.index')}}">Trending <span class="sr-only">(current)</span></a>
			  </li>
			  {% else %}
			  <li class="nav-item">
		        <a class="nav-link btn btn-danger text-white py-3" href="{{url_for('core.index')}}">Trending <span class="sr-only">(current)</span></a>
			  </li>
			  {% endif %}
			  {% if title == 'Últimas' %}
		      <li class="nav-item">
		        <a class="nav-link btn btn-danger text-white py-3 active" href="{{url_for('core.new_posts')}}">Últimas</a>
			  </li>
			  {% else %}
		      <li class="nav-item">
		        <a class="nav-link btn btn-danger text-white py-3" href="{{url_for('core.new_posts')}}">Últimas</a>
			  </li>
			  {% endif %}
			  {% if title == 'Tops' %}	  
		      <li class="nav-item">
		        <a class="nav-link btn btn-danger text-white py-3 active" href="{{url_for('core.tops')}}">Tops</a>
			  </li>
			  {% else %}
			  <li class="nav-item">
		        <a class="nav-link btn btn-danger text-white py-3" href="{{url_for('core.tops')}}">Tops</a>
			  </li>
			  {% endif %}
		    </ul>
		    <ul class="nav navbar-nav navbar-right d-flex">
				<li class="nav-item">
					{% if title=='Ranking' %}
					<a class="nav-link btn btn-danger text-white py-3 active" href="{{url_for('core.ranking')}}"><i class="fas fa-trophy"></i> Ranking</a>
					{% else %}
					<a class="nav-link btn btn-danger text-white py-3" href="{{url_for('core.ranking')}}"><i class="fas fa-trophy"></i> Ranking</a>
					{% endif %}
				</li>
                {% if current_user.is_anonymous %}
					<li class="nav-item"><a class="nav-link btn btn-danger text-white py-3" href="{{url_for('auth.login')}}"><i class="fas fa-plus"></i> Criar post</a></li>
					<li class="nav-item">
						{% if title=='Login' %}
						<a class="nav-link btn btn-danger text-white py-3 active" href="{{url_for('auth.login')}}">Entrar</a>
						{% else %}
						<a class="nav-link btn btn-danger text-white py-3" href="{{url_for('auth.login')}}">Entrar</a>
						{% endif %}
					</li>
				{% else %}
					<li class="nav-item">
							<a class="nav-link text-white py-3" href="{{url_for('core.my_notifications')}}"><i class="fa fa-bell"></i>&nbsp;
								{% set new_messages = current_user.new_messages() %}
								{% if new_messages %}
								<span id="message_count" class="badge" style="visibility: {% if new_messages %} visible {% else %} hidden {% endif %}">{{new_messages}}</span>
								{% endif %}
							</a>
					</li>

					<li class="nav-item">
						<div class="profile_popover" data-content='
						<div class="d-block ml-3 mr-3">
							<div class="m-3">
								<a href="{{ url_for("core.user", username=current_user.username) }}" class="d-block text-dark"><h6><i class="fas fa-user mr-3">&nbsp;</i><b>{{current_user.username}}</b></h6></a>
							</div>
							<div class="m-3">
								<a href="{{ url_for("core.add_post") }}" class="d-block text-dark"><h6><i class="fas fa-plus mr-3">&nbsp;</i><b>Criar postagem</b></h6></a>
							</div>
							<div class="m-3">
								<a href="" class="d-block text-dark"><h6><i class="fas fa-cog mr-3">&nbsp;</i><b>Configurações</b></h6></a>
							</div>
							<div class="m-3">
								<a href="{{ url_for("core.my_arribas") }}" class="d-block text-dark"><h6><i class="fas fa-heart mr-3">&nbsp;</i><b>Arribas</b></h6></a>
							</div>
							<div class="m-3">
								<a href="{{ url_for("core.my_comments") }}" class="d-block text-dark"><h6><i class="fas fa-comments mr-3">&nbsp;</i><b>Comentários</b></h6></a>
							</div>
							<hr>
							<div class="m-3">
								<a href="{{ url_for("auth.logout") }}" class="d-block text-dark"><h6><i class="fas fa-sign-out-alt mr-3">&nbsp;</i><b>Sair</b></h6></a>
							</div>
						</div>
						
						'>
						<a href="" class="nav-link py-3"><img src="{{url_for('core.avatars_profile', user_id=current_user.id)}}" class="rounded-circle" alt="" height="30px" width="30px">&nbsp;</a>
						</div>
					</li>
            	{% endif %}
            </ul>
		  </div>
	</nav>
		  <div class="modal fade p-3" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
			  <div class="modal-content">
				<div class="modal-header">
				  <h3 class="modal-title" id="exampleModalLabel">Entrar</h3>
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				</div>
				<div class="modal-body">
					<form action="{{url_for('auth.login')}}" method="POST" novalidate>
						<input id="csrf_token" name="csrf_token" type="hidden" value="{{csrf_token()}}">
						<div class="form-group">
							<input class="form-control mb-3" id="username" name="username" placeholder="Usuário" required="" type="text" value="">
						</div>
						<div class="form-group">
							<input class="form-control" id="password" name="password" placeholder="Senha" required="" type="password" value="">
						</div>
						<div class="form-check ">
							<input class="form-check-input" id="remember_me" name="remember_me" type="checkbox" value="y">
							<label for="remember_me" id="remember_me">Mantenha-me conectado</label>
						</div>
				  
						<div class="pt-5">
						<p>
						  Não possui conta?
						  <a href="{{url_for('auth.register')}}" class="text-danger">Criar nova conta</a><br>
						</p>
						<p>
							Esqueceu a senha?
							<a href="{{url_for('auth.reset_password_request')}}" class="text-danger">Clique para recuperar</a>
						</p>
						</div>
					
				</div>
				<div class="modal-footer">
				  <button type="button" class="btn btn-light" data-dismiss="modal">Fechar</button>
				  <input class="btn btn-danger" id="submit" name="submit" type="submit" value="Entrar">
				</form>
				</div>
			  </div>
			</div>
		  </div>

		

		<div class="container mt-5">
			{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
				{% if category == "success" %}
				<div class="alert alert-success" role="alert">{{ message }}</div>
				{% elif category == "error" %}
				<div class="alert alert-danger" role="alert">{{ message }}</div>
				{% endif %}
				{% endfor %}
			{% endif %}
			{% endwith %}
		
			{% block content %}
			{% endblock %}
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script>
			{% if current_user.is_authenticated %}
				$(document).ready(function() {
					var since = {{current_user.last_seen}};
					setInterval(function() {
						$.ajax("{{url_for('core.notification')}}?since="+since).done(function(notifications){
						for (var i = 0; i<notifications.length; i++){
							console.log(notifications[i].message_count)
							set_message_count(notifications[i].message_count);
							since= notifications[i].timestamp;
						}
					})
				}, 5000);
			})
			function set_message_count(n) {
            	$('#message_count').text(n);
            	$('#message_count').css('visibility', n ? 'visible' : 'hidden');
        	}
			{% endif %}

			$(function(){
				var timer = null
				var request = null
				$(".user_popover").hover(
				function(event){
					var element = $(event.currentTarget);
					timer = setTimeout(function() {
						timer = null;
						request = $.ajax('/user/' + element.first().text().trim() + '/details').done(
							function(data) {
                                request = null;
                                element.popover({
                                trigger: 'manual',
                                html: true,
                                animation: false,
                                container: element,
                                content: data
                                }).popover('show');
                                }
						)
               		}, 1000);
				},
				
				function(event){
					var element = $(event.currentTarget);
					if (timer) {
                   	 	clearTimeout(timer);
                    	timer = null;
					}
					
					else if (request) {
                    	request.abort();
                    	request = null;
				}
					else{
						element.popover('dispose');
					}
				})

			})

			$('.profile_popover').each(function (){
				var $elem = $(this);
    			$elem.popover({
					placement: 'top',
					trigger: 'hover',
					html: true,
					container: $elem
    			});
			})

			$(".arribaButton").on('click', function(){
				{% if current_user.is_authenticated %}
					var post_id = $(this).attr('post_id');

					req = $.ajax({
						url: '/arriba_post',
						headers: {
        					"X-CSRFToken": "{{csrf_token()}}",
    					},
						type: 'POST',
						data: {post_id: post_id}
					});

					req.done(function(data){
						if($("#arriba"+post_id).find("svg").attr("data-prefix") == "fas"){
							$("#arriba"+post_id).find("svg").attr('data-prefix', "far")
							$("#arriba"+post_id).toggleClass("btn-secondary btn-danger")
							$("#arriba"+post_id).find("span").html(data.count)
						}
						else{
							$("#arriba"+post_id).find("svg").attr('data-prefix', "fas")
							$("#arriba"+post_id).toggleClass("btn-secondary btn-danger")
							$("#arriba"+post_id).find("span").html(data.count)
						}
					});
				{% else %}
					$('#loginModal').modal('show');
				{% endif %}
			});

			$(".rounded-circle").on("error", function(){
        		$(this).attr('src', '{{ url_for('static', filename='img/default_avatar.png')}}');
    		});


		</script>		
	</body>
</html>
