{% extends 'base.html' %}

{% block content %}
	<div class="row">
		<div class="d-inline-block col-md-8">
			{% for post in posts %}
				{% include '_post.html' %}
				<hr>
			{% endfor %}
		</div>

		<div class="float-right d-inline-block col-md-4">
			{% for post in posts %}
				<div class="py-1">
				<a href="{{url_for('core.post', id=post.id)}}">
					<img height="200x" width="300px" src="{{ url_for('core.uploads', post_id=post.id)}}"><br>
					<span class="text-dark my-2"><b>{{post.title}}</b></span>
				</a>
			</div>
			{% endfor %}
			<a class="btn btn-light text-danger text-center border w-100" href="{{url_for('core.tops')}}">
				<b>Mais posts</b></a>
		</div>
		
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	
	</div>
{% endblock %}
